@import "reset.css";

@font-face {
  font-family: 'tsaowe';
  src: url('//at.alicdn.com/t/font_1464056006_236562.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1464056006_236562.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1464056006_236562.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1464056006_236562.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1464056006_236562.svg#tsaowe') format('svg'); /* iOS 4.1- */
}


html,body{
  background: #f7f7f7;
}
.container {
  width:640px;
  display: none;
  transform-origin: 0 0;
  .fl{
    float:left;
  }
  .fr{
    float:right;
  }

  .svg {
    font-family: tsaowe,sans-serif;
    font-size: 30px;
  }

  .back {
    background: #ffffff;
    height: 107px;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    flex-direction: column;
    >div {
      flex:1;
      text-align: center;
      .svg {
        margin-left:20px;
      }
      .export-title {
        font-size: 30px;
        margin:0 auto;
        position: relative;
        left:-20px;
      }

    }
  }

  .money {

    background: #ffffff;
    .gap-not-export{
      height:48px;
    }

    .not-export-title{
      font-size: 20px;
      text-align: center;
      color:#666666;
    }

    .gap-money{
      height:18px;
    }
    .sum {
      text-align: center;
      height:60px;
      .cn {
        font-size: 26px;
        position: relative;
        top:-2px;
      }
      .sum-money {
        font-size: 60px;
        color:#333333;
      }
    }
    .gap-btm{
      height:48px;
    }
    .gap-btm-background{
      height:16px;
      width:100%;
      background: #f7f7f7;
    }

  }

  .export-input-div {
    height:84px;
    background: #ffffff;

    .gap-top {
      height:30px;
    }

    .delete{
      .svg {
        font-family: tsaowe,sans-serif;
        position: relative;
        right:30px;
        opacity: .4;
      }
    }
    .export {

      input{
        height:26px;
        font-size: 26px;
        position: relative;
        top: -5px;

        &:focus{
          outline: none;
        }
      }

      >* {
        display: inline-block;
      }
      .gap {
        width: 32px;
      }
      .export-title {

        width:161px;

        font-size: 26px;
        color:#333333;
      }
    }
  }

  .warning-div {
    background: #f7f7f7;
    height:38px;
    .gap{
      height:18px;
    }
    .warning-text {
      height:20px;
      >*{
        display: inline-block;
        &:nth-child(1){
          width:32px;
        }

        &:nth-child(2){
          background: url("../images/ired_warning.png") no-repeat;
          height:20px;
          width:20px;
          background-size: cover;
        }
        &:nth-child(3){
          font-size: 20px;
          color:#999999;
          padding-left: 5px;
          position: relative;
          top:-3px;
        }

      }


    }
  }

  .export-btn-div{
    .gap{
      height:120px;
    }
    
    .btn {
      height:72px;
      width:400px;
      border-radius: 36px;
      background: #fdbdc4;
      margin:0 auto;
      font-size:30px;
      line-height: 72px;
      color: #ffffff;
      text-align: center;
    }
  }

  .modal {
    height: 2000px;
    width:100%;
    background-color: rgba(0,0,0,.3);
    position: fixed;
    top:0;
    left: 0;
    overflow: hidden;
    .dialog-ok {
      height: 410px;
      width:500px;
      background: #ffffff;
      margin: 200px auto;
      border-radius: 10px;
      text-align: center;
      >div{
        display: inline-block;
        width:100%;
      }

      .gap1 {
        height:32px;
      }
      .ok {
        background-image: url('../images/ired_ok.png');
        width:200px;
        height: 130px;
      }
      .gap2{
        height:10px;
      }
      .status {
        color:#666666;
        font-size: 30px;
      }
      .gap3{
        height:20px;
      }
      .text{
        color:#999999;
        font-size: 24px;
      }
      .gap4{
        height:60px;
      }
      .btn{
        width:300px;
        height:72px;
        border-radius: 36px;
        background: #f95e6f;
        color:#ffffff;
        line-height:72px;
        font-size: 28px;
      }
    }
  }
}