body{
	background-color:#fff;
	line-height:100%;
}

.red-main{
  display: none;
  width:640px;
  transform-origin: 0 0;
}

.rm-head{
	background:url('../images/ired_back.png') left bottom no-repeat;
	width:100%;
	height:264px;
	background-size:cover;
	color:#fff;
    padding-top:32px;
}

.today-income{
  margin-left:32px;

	.ti-text{
	    font-size:26px;
	    line-height:26px;
//		margin-top:32px;
	}

	.ti-sum{
		margin-top:18px;
//		font-size:26px;
      line-height:72px;
      font-size:72px;
      height:72px;

//		.today-count{
//			line-height:72px;
//			font-size:72px;
////			margin-left:4px;
//		}
	}
}

.all-income{
  margin-left:32px;

	.ai-text{
		margin-top:48px;
		font-size:20px;
		line-height:20px;
		color:rgba(255,255,255,0.7);
	}
	.ai-sum{
//		font-size:26px;
		margin-top:18px;
        font-size:32px;
        line-height:32px;
      height:32px;

//		.sum-count{
//			font-size:32px;
//			line-height:32px;
////			margin-left:4px;
//		}
	}

}

.rm-list{
	width:100%;
	background-color: #f5f5f5;
    border-bottom:1px #eee solid;
	color:#666;
}
.rl-nav{
	width:100%;
	height:84px;
	line-height:84px;
    background-color: #fff;

   &:nth-child(1){
     margin-bottom:16px;
   }

	.nav-left{
		margin-left:24px;
		font-size:26px;
	}

	.nav-right{
		float:right;
		margin-right:24px;
		color:#333;
		font-size:26px;
	}

	.right-arrow{
		float:right;
		margin-right:12px;
		margin-top:20px;
		display:block;
		background:url('../images/right_arrow.png') center center no-repeat;
		width:44px;
		height:44px;

	}

}

#turn_record:hover{
  background-color:#eee;
}

.rm-bottom{
	bottom:0;
	width:640px;
    position:absolute;
    display:none;
    padding-bottom:200px;
    transform-origin:left bottom;


  .rm-btn{
		width:400px;
		height:72px;
		background-color:#fdbdc4;
        border-radius: 36px;
		line-height:72px;
		font-size:28px;
		color:#fff;
		text-align:center;
		margin:0 auto;
	}
}


.modal {
    display: none;
	height: 2000px;
	width:100%;
	background-color: rgba(0,0,0,.3);
	position: fixed;
	top:0;
	left: 0;
	overflow: hidden;
	.dialog-ok {
		height: 410px;
		width:500px;
		background: #ffffff;
		margin: 200px auto;
		border-radius: 10px;
		text-align: center;
		>div{
			display: inline-block;
			width:100%;
		}

		.gap1 {
			height:32px;
		}
		.ok {
			background-image: url('../images/ired_ok.png');
			width:200px;
			height: 130px;
		}
		.gap2{
			height:10px;
		}
		.status {
			color:#666666;
			font-size: 30px;
		}
		.gap3{
			height:20px;
		}
		.text{
			color:#999999;
			font-size: 24px;
		}
		.gap4{
			height:60px;
		}
		.btn{
			width:300px;
			height:72px;
			border-radius: 36px;
			background: #f95e6f;
			color:#ffffff;
			line-height:72px;
			font-size: 28px;
		}
	}
	.dialog-confirm{
		height: 410px;
		width:500px;
		background: #ffffff;
		margin: 200px auto;
		border-radius: 10px;
		text-align: center;
		>div{
			width:100%;
		}
		.gap1{
			height:50px;
		}
		.explain{
			font-size: 24px;
			color:#666666;
			height:24px;
		}
		.gap12{
			height:18px;
		}
		.sum{
			font-size: 60px;
			height:60px;
			margin-top: 18px;
			color:#333333;
			sub{
				font-size: 24px;
				color: #333333;
				position: relative;
				top:-2px;
			}
		}
		.gap2{
			height: 15px;
		}
		.warning{
			height:60px;
			color:#999999;
			font-size: 22px;
			width: 440px;
			text-align: left;
			line-height: 33px;
			margin:0 auto;
		}
		.gap3{
			height: 34px;
		}

		.btns {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			.btn{
				width:200px;
				height:70px;
				border-radius: 35px;
				line-height: 70px;
				font-size: 28px;

				&:nth-child(1){
					border:1px solid #d1d1d1;
                    color:#f5f5f5;
				}

				&:nth-child(2){
					background: #fdbdc4;
					color:#ffffff;
				}

			}
		}


	}
}
