@import url(reset.css);
html, body {
  background: #fcdddd; }

.container {
  width: 640px;
  display: none;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0; }
  .container .note-head {
    width: 640px;
    height: 300px;
    background: url("../images/pnote_head.png");
    background-size: cover; }
  .container .note-text {
    margin: 20px 30px;
    font-size: 26px;
    color: #7e4343;
    line-height: 35px; }
  .container .note-content {
    width: 640px;
    height: 1361px;
    background: url("../images/pnote_intro.png");
    background-size: cover; }
  .container .note-extra .ne-text {
    margin: 0 30px;
    font-size: 26px;
    color: #7e4343;
    line-height: 35px;
    text-align: center; }
  .container .note-extra .ne-btn {
    margin: 16px 120px 30px 120px;
    width: 400px;
    height: 70px;
    background: url("../images/pnote_btn.png");
    background-size: cover; }
