@import url(reset.css);
.icon, .container .record .re-topline, .container .tail {
  background-image: url("../images/sprite/record.png"); }

html, body {
  background: #f7f7f7; }

.container {
  width: 640px;
  display: none;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0; }
  .container .line {
    height: 20px;
    width: 592px;
    border-radius: 10px;
    background: #999999;
    margin: 24px auto 0; }
  .container .record {
    background: #ffffff;
    width: 576px;
    text-align: center;
    line-height: 0;
    position: relative;
    top: -10px;
    margin: 0 auto;
    font-size: 0; }
    .container .record .re-topline {
      background-position: 0px 0px;
      background-repeat: no-repeat;
      overflow: hidden;
      display: block;
      width: 576px;
      height: 8px; }
    .container .record .re-block {
      height: 19px; }
    .container .record .item {
      display: inline-block;
      line-height: normal;
      text-align: left;
      width: 528px;
      height: 102px;
      background: #ffffff; }
      .container .record .item .content {
        display: inline-block;
        width: 70%; }
      .container .record .item:not(:last-child) {
        border-bottom: 1px solid #eeeeee; }
      .container .record .item .gap {
        height: 20px; }
      .container .record .item .event {
        color: #333333;
        font-size: 26px;
        height: 30px;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
      .container .record .item .gap-time {
        height: 6px; }
      .container .record .item .time {
        color: #666666;
        font-size: 22px;
        height: 26px;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
      .container .record .item .sum {
        text-align: right;
        font-size: 24px;
        color: #333333;
        font-weight: bold;
        height: 102px;
        line-height: 102px;
        display: inline-block;
        width: 30%; }
  .container .tail {
    margin: 0 auto;
    position: relative;
    top: -10px;
    background-position: 0px -8px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 588px;
    height: 33px; }
  .container .no-record {
    margin-top: 160px;
    width: 100%;
    display: none; }
    .container .no-record .nr-img {
      width: 180px;
      height: 180px;
      margin: 0 auto;
      background: url("../images/ired_null.png");
      background-size: cover; }
    .container .no-record .nr-text {
      margin-top: 24px;
      font-size: 26px;
      color: #999999;
      text-align: center; }
