@font-face {
  font-family: 'iconfont';
  src: url("//at.alicdn.com/t/font_1465812739_7291534.eot");
  /* IE9*/
  src: url("//at.alicdn.com/t/font_1465812739_7291534.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_1465812739_7291534.woff") format("woff"), url("//at.alicdn.com/t/font_1465812739_7291534.ttf") format("truetype"), url("//at.alicdn.com/t/font_1465812739_7291534.svg#iconfont") format("svg");
  /* iOS 4.1- */ }
.iconfont {
  font-family: iconfont,sans-serif; }

html, body, div {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1;
  /*IE/7/6*/ }

html, body {
  width: 100%;
  font-family: Microsoft YaHei,Tahoma,SimSun,Verdana;
  color: #777777; }

.container {
  width: 1090px;
  margin: 0 auto; }

.full-page {
  width: 100%;
  height: 865px; }

.full-img {
  position: absolute;
  background: url("../image/head/pic_back.png") bottom center;
  width: 100%;
  min-width: 1090px;
  height: 792px;
  background-size: cover;
  z-index: -1;
  top: 0;
  left: 0;
  border-bottom: 1px solid #f0f0f0; }

.bus-header .bus-logo {
  float: left;
  margin-left: 10px;
  margin-top: 18px;
  background: url("../image/head/pic_logo.png");
  width: 147px;
  height: 42px;
  background-size: cover; }
.bus-header .bh-wechat {
  float: right;
  margin-right: 70px;
  margin-top: 19px;
  position: relative; }
  .bus-header .bh-wechat .wc-img {
    background: url("../image/head/pic_wechat.png");
    width: 40px;
    height: 40px;
    background-size: cover; }
  .bus-header .bh-wechat .wc-box {
    position: absolute;
    top: 40px;
    left: -58px;
    background: url("../image/head/wc_code.png");
    width: 155px;
    height: 205px;
    background-size: cover;
    display: none; }
  .bus-header .bh-wechat .wc-img:hover {
    opacity: 0.5; }
.bus-header .bh-wechat:hover .wc-box {
  display: block; }
.bus-header .bh-qq {
  float: right;
  margin-right: 25px;
  margin-top: 19px;
  position: relative; }
  .bus-header .bh-qq .qq-img {
    background: url("../image/head/pic_qq.png");
    width: 40px;
    height: 40px;
    background-size: cover; }
  .bus-header .bh-qq .qq-box {
    position: absolute;
    top: 40px;
    left: -58px;
    background: url("../image/head/qq_box.png");
    width: 155px;
    height: 116px;
    background-size: cover;
    display: none; }
    .bus-header .bh-qq .qq-box span {
      position: relative;
      font-size: 14px;
      top: 66px;
      left: 19px;
      color: rgba(29, 29, 29, 0.96); }
  .bus-header .bh-qq .qq-img:hover {
    opacity: 0.5; }
.bus-header .bh-qq:hover .qq-box {
  display: block; }

.page-one {
  margin-top: 34px; }
  .page-one .po-title {
    background: url("../image/head/pic_title.png");
    width: 503px;
    height: 77px;
    background-size: cover;
    margin: 0 auto; }
  .page-one .po-download {
    margin-top: 40px;
    text-align: center;
    *padding-left: 320px; }
    .page-one .po-download .po-btn {
      display: inline-block;
      background-color: #ffffff;
      margin: 0 10px;
      width: 200px;
      height: 43px;
      border: 2px solid #afd4b3;
      border-radius: 10px;
      line-height: 43px;
      text-align: center;
      font-size: 18px;
      *float: left;
      *margin-right: 20px;
      cursor: pointer; }
      .page-one .po-download .po-btn .iconfont {
        color: #4cc957;
        display: inline-block;
        line-height: 38px;
        margin-right: 10px;
        font-size: 30px; }
        .page-one .po-download .po-btn .iconfont.po-android {
          line-height: 36px; }
    .page-one .po-download .po-btn:hover {
      background-color: #4cc957;
      border: 2px solid #4cc957;
      color: #ffffff; }
      .page-one .po-download .po-btn:hover .iconfont {
        color: #ffffff; }

.po-phone {
  margin-top: 200px;
  background: url("../image/head/pic_phone.png");
  width: 912px;
  height: 376px;
  background-size: cover;
  position: relative;
  float: right;
  margin-right: 40px;
  z-index: 1; }
  .po-phone .per-one {
    position: absolute;
    background: url("../image/head/pic_per1.png");
    width: 150px;
    height: 195px;
    background-size: cover;
    left: 207px;
    top: 70px;
    z-index: 5; }
    .po-phone .per-one .per-dia1 {
      background: url("../image/head/pic_dia1.png");
      width: 224px;
      height: 108px;
      background-size: cover;
      position: absolute;
      top: -73px;
      left: 117px;
      opacity: 0;
      -webkit-transition: all 1s ease-out 3s;
      -moz-transition: all 1s ease-out 3s;
      -o-transition: all 1s ease-out 3s;
      transition: all 1s ease-out 3s; }
  .po-phone .per-two {
    position: absolute;
    background: url("../image/head/pic_per2.png");
    width: 99px;
    height: 131px;
    background-size: cover;
    left: 108px;
    top: 34px;
    z-index: 3; }
    .po-phone .per-two .per-dia2 {
      background: url("../image/head/pic_dia2.png");
      width: 231px;
      height: 94px;
      background-size: cover;
      position: absolute;
      top: -110px;
      left: 29px;
      opacity: 0;
      -webkit-transition: all 1s ease-out 1s;
      -moz-transition: all 1s ease-out 1s;
      -o-transition: all 1s ease-out 1s;
      transition: all 1s ease-out 1s; }
  .po-phone .per-three {
    position: absolute;
    background: url("../image/head/pic_per3.png");
    width: 118px;
    height: 151px;
    background-size: cover;
    left: 522px;
    top: -74px;
    z-index: 1; }
    .po-phone .per-three .per-dia3 {
      background: url("../image/head/pic_dia3.png");
      width: 231px;
      height: 94px;
      background-size: cover;
      position: absolute;
      top: -62px;
      left: 90px;
      opacity: 0;
      -webkit-transition: all 1s ease-out 2s;
      -moz-transition: all 1s ease-out 2s;
      -o-transition: all 1s ease-out 2s;
      transition: all 1s ease-out 2s; }
  .po-phone .per-four {
    position: absolute;
    background: url("../image/head/pic_per4.png");
    width: 82px;
    height: 107px;
    background-size: cover;
    left: 613px;
    top: 71px;
    z-index: 4; }
  .po-phone .per-five {
    position: absolute;
    background: url("../image/head/pic_per5.png");
    width: 97px;
    height: 126px;
    background-size: cover;
    left: 415px;
    top: 3px;
    z-index: 2; }

.po-phone > div {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }

.phone-animation .per-one {
  left: 217px; }
  .phone-animation .per-one .per-dia1 {
    top: -53px;
    opacity: 1; }
.phone-animation .per-two {
  left: 114px; }
  .phone-animation .per-two .per-dia2 {
    top: -90px;
    opacity: 1; }
.phone-animation .per-three {
  left: 512px; }
  .phone-animation .per-three .per-dia3 {
    top: -42px;
    opacity: 1; }
.phone-animation .per-four {
  left: 603px; }
.phone-animation .per-five {
  left: 410px; }

.page-two {
  position: relative;
  height: 628px;
  z-index: 1; }
  .page-two .pt-title {
    background: url("../image/main/pic_title1.png");
    width: 357px;
    height: 105px;
    background-size: cover;
    position: absolute;
    top: 140px;
    left: 56px; }
  .page-two .pt-calendar {
    background: url("../image/main/pic_calendar.png");
    width: 208px;
    height: 221px;
    background-size: cover;
    position: absolute;
    bottom: 44px;
    left: 254px;
    z-index: 2;
    -webkit-transition: all 3s ease-out;
    -moz-transition: all 3s ease-out;
    -o-transition: all 3s ease-out;
    transition: all 3s ease-out; }
  .page-two .pt-right {
    background: url("../image/main/pic_page1.png");
    width: 486px;
    height: 473px;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 513px;
    z-index: 1;
    -webkit-transition: all 3s ease-out;
    -moz-transition: all 3s ease-out;
    -o-transition: all 3s ease-out;
    transition: all 3s ease-out; }
  .page-two .star-one {
    background: url("../image/main/pic_star1.png");
    width: 74px;
    height: 105px;
    background-size: cover;
    position: absolute;
    top: 320px;
    left: 271px;
    z-index: 3;
    opacity: 0;
    -webkit-transition: all 1s ease-out 3s;
    -moz-transition: all 1s ease-out 3s;
    -o-transition: all 1s ease-out 3s;
    transition: all 1s ease-out 3s; }
  .page-two .star-two {
    background: url("../image/main/pic_star2.png");
    width: 74px;
    height: 90px;
    background-size: cover;
    position: absolute;
    top: 59px;
    left: 5px;
    opacity: 0;
    -webkit-transition: all 1s ease-out 4s;
    -moz-transition: all 1s ease-out 4s;
    -o-transition: all 1s ease-out 4s;
    transition: all 1s ease-out 4s; }
  .page-two .star-three {
    background: url("../image/main/pic_star3.png");
    width: 47px;
    height: 62px;
    background-size: cover;
    position: absolute;
    top: 454px;
    left: 518px;
    opacity: 0;
    z-index: 3;
    -webkit-transition: all 1s ease-out 4s;
    -moz-transition: all 1s ease-out 4s;
    -o-transition: all 1s ease-out 4s;
    transition: all 1s ease-out 4s; }

.page-line {
  width: 90%;
  min-width: 1090px;
  margin: 0 auto;
  height: 2px;
  background-color: #f2f2f2; }

.pt-animation .pt-calendar {
  left: 324px;
  opacity: 1; }
.pt-animation .pt-right {
  left: 493px;
  opacity: 1; }
.pt-animation .star-one {
  opacity: 1; }
.pt-animation .star-two {
  opacity: 1; }
.pt-animation .star-three {
  opacity: 1; }

.page-three {
  position: relative;
  height: 668px;
  z-index: 1; }
  .page-three .pth-title {
    background: url("../image/main/pic_title2.png");
    width: 440px;
    height: 142px;
    background-size: cover;
    position: absolute;
    top: 109px;
    left: 530px;
    z-index: 3; }
  .page-three .pth-left {
    background: url("../image/main/pic_page2.png");
    width: 341px;
    height: 518px;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 124px;
    z-index: 2; }
  .page-three .pth-map {
    background: url("../image/main/pic_map.png");
    width: 757px;
    height: 269px;
    background-size: cover;
    position: absolute;
    bottom: 100px;
    left: 271px;
    z-index: 4;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out; }
    .page-three .pth-map .pth-router {
      background: url("../image/main/pic_route.png");
      width: 0;
      height: 123px;
      background-size: cover;
      position: absolute;
      top: 68px;
      left: 147px;
      z-index: 1;
      -webkit-transition: all 2s ease-out 1s;
      -moz-transition: all 2s ease-out 1s;
      -o-transition: all 2s ease-out 1s;
      transition: all 2s ease-out 1s; }
    .page-three .pth-map .pth-start {
      background: url("../image/main/pic_start.png");
      width: 116px;
      height: 159px;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 84px;
      z-index: 2;
      opacity: 0;
      -webkit-transition: all 0.5s ease-out 1s;
      -moz-transition: all 0.5s ease-out 1s;
      -o-transition: all 0.5s ease-out 1s;
      transition: all 0.5s ease-out 1s; }
    .page-three .pth-map .pth-end {
      background: url("../image/main/pic_end.png");
      width: 99px;
      height: 130px;
      background-size: cover;
      position: absolute;
      top: -40px;
      left: 546px;
      opacity: 0;
      z-index: 2;
      -webkit-transition: all 0.5s ease-out 3s;
      -moz-transition: all 0.5s ease-out 3s;
      -o-transition: all 0.5s ease-out 3s;
      transition: all 0.5s ease-out 3s; }

.pth-animation .pth-map {
  bottom: 35px; }
  .pth-animation .pth-map .pth-router {
    width: 462px; }
  .pth-animation .pth-map .pth-start, .pth-animation .pth-map .pth-end {
    opacity: 1; }

.page-four {
  position: relative;
  height: 687px;
  z-index: 1; }
  .page-four .pf-title {
    background: url("../image/main/pic_title3.png");
    width: 479px;
    height: 106px;
    background-size: cover;
    position: absolute;
    top: 122px;
    left: 88px;
    z-index: 3; }
  .page-four .pf-left {
    background: url("../image/main/pic_bus.png");
    width: 623px;
    height: 398px;
    background-size: cover;
    position: absolute;
    top: 286px;
    left: 38px;
    z-index: 1; }
  .page-four .pf-right {
    background: url("../image/main/pic_page3.png");
    width: 398px;
    height: 521px;
    background-size: cover;
    position: absolute;
    top: 126px;
    left: 650px;
    z-index: 2;
    -webkit-transition: all 3s ease-out;
    -moz-transition: all 3s ease-out;
    -o-transition: all 3s ease-out;
    transition: all 3s ease-out; }

.pf-animation .pf-right {
  left: 612px; }

.bus-footer {
  width: 100%;
  margin-top: 40px;
  background-color: #c9c9c9;
  padding-top: 56px;
  padding-bottom: 56px;
  border-top: 2px solid #b9b9b9;
  text-align: center; }
  .bus-footer .bf-box {
    text-align: left;
    display: inline-block;
    font-size: 14px;
    color: #000000;
    letter-spacing: 2px; }
    .bus-footer .bf-box .bf-line {
      margin-top: 14px; }
    .bus-footer .bf-box span.bf-text {
      margin-left: 50px; }
    .bus-footer .bf-box .bf-logos {
      margin-top: 26px; }
      .bus-footer .bf-box .bf-logos img {
        margin-right: 10px;
        border-radius: 5px; }
        .bus-footer .bf-box .bf-logos img:nth-child(1) {
          width: 124px;
          height: 46px; }
        .bus-footer .bf-box .bf-logos img:nth-child(2) {
          width: 125px;
          height: 46px; }
        .bus-footer .bf-box .bf-logos img:nth-child(3) {
          width: 123px;
          height: 46px; }

.bus-footer img {
  width: 100%; }

/*# sourceMappingURL=style.css.map */
